.iconConfirm {
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 50%;
    background-color: #1EC15F;
    color: #fff;
}

.titleConfirm {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #3A3D42;
}

.noteConfirm {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(58, 61, 66, 0.6);
}

.btnConfirm {
    width: 100%;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
}

.btnTextConfirm {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF; 
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .btnConfirm {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }
}