.historyContent {
  height: 70vh;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.titleHistory {
  height: 80px;
  padding: 30px;
  margin-bottom: 0px !important;
}

.btnFilter {
  width: 155px;
  height: 40px;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #000000;
}

.contentCard {
  overflow-y: scroll !important;
  height: 55vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contentCard::-webkit-scrollbar {
  height: 100vh;
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contentCard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.imageProfile {
  border-radius: 12px;
}

.nameProfileNav {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 31px;
  color: #3a3d42;
}

.statusTrans {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #7a7886;
}

.iconProfileNav {
  color: #4d4b57;
}

.colorGreen {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #1ec15f;
}

.colorRed {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #ff5b37;
}

@media screen and (max-width: 768px) {
  .historyContent {
    position: absolute;
    height: 100vh;
    width: 100% !important;
    margin-left: -50px;
    margin-top: -50px;
  }

  .titleHistory {
    height: 70px !important;
  }

  .contentCard {
    height: 70vh;
    margin-top: -90px;
  }

  .btnFilter {
    width: 120px;
    margin-left: -10px;
  }
}
