.historyContent {
  height: 70vh;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.titleHistory {
  padding: 30px;
  margin-bottom: 0px !important;
}

.btnFilter {
  width: 155px;
  height: 40px;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #000000;
}

.imageProfile {
  border-radius: 12px;
}

.nameProfileNav {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 31px;
  color: #3a3d42;
}

.packEditImg {
  height: 50px !important;
  text-align: center;
}

.btnEdit {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 56px;
  color: #9ea0a5 !important;
}

.statusTrans {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #7a7886;
}

.iconProfileNav {
  color: #4d4b57;
}

.infoContent {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardProfile {
  width: 50%;
  height: 70px;
  background: #e5e8ed;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #4d4b57;
  cursor: pointer;
}

.modalContent .modal-content {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05) !important;
  border-radius: 25px;
  border: none !important;
}

.titleModal {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

.modalHeader {
  display: flex;
  align-items: center;
}

.modalHeader button {
  background: none;
  border: none;
}

.modalHeader button span {
  font-size: 28px;
}

.noteModal {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}

.btnModal {
  width: 170px;
  height: 57px;
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border: none;
}

.btnModal:hover {
  background: #6379f4;
  color: #ffffff;
}

.noteWrn {
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  .historyContent {
    position: absolute;
    height: 100vh;
    width: 100% !important;
    margin-left: -50px;
    margin-top: -50px;
  }

  .cardProfile {
    width: 100%;
  }
}