.historyContent {
  height: 70vh;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.titleHistory {
  margin-left: 40px;
  padding: 30px;
}

.contentSearch {
  display: flex;
  justify-content: center;
}

.formSearchTf {
  width: 90%;
  height: 54px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
}

.iconSearch {
  color: #A9A9A9;
}

.inputSearchReceiver {
  width: 50%;
  border: none;
  background: none;
}

.inputSearchReceiver:focus {
  outline: none !important;
}

.inputSearchReceiver::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: rgba(58, 61, 66, 0.4);
}

.receiverContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContact {
  width: 90%;
  margin: 10px 0px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.imageProfile {
  border-radius: 12px;
}

.nameProfileNav {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 31px;
  color: #3a3d42;
}

@media screen and (max-width: 768px) {
  .historyContent {
    position: absolute;
    margin-left: -50px;
    margin-top: -50px;
    width: 100% !important;
    height: 90vh;
    border-radius: 0px ;
  }
}